<div>
    <button type="submit" class="btn btn-primary" routerLink="/register">Register User</button>

    <button type="submit" class="btn btn-primary" routerLink="/forgetpassword"> forgetpassword</button>


    <a href="/forgotpassword" target="_blank">ForgotPassword Link</a>

    <a routerLink="/forgotpassword">Forgotpassword routerLink Link</a>

    <button type="submit"class=" btn btn-primary"routerLink="/login">login</button>

    
    <button type="submit" class="btn btn-primary" routerLink="/addRestaurant">Add Restaurant</button>
    <a routerLink="/createaccount"> Accountcretion</a>

    <a routerLink="/loansearch"> Account Lookup</a>

    {{fullNameFromChild}}

</div>



<router-outlet />